$color-main: #35155D;
$color-secondary: #A2678A;

* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-main;
}

h1 {
  font-size: 3rem;
}

.d-flex {
  display: flex;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-main;
  gap: 20px;
  overflow: auto;
}

.time-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 1rem;
  color: red;
}

.click-me {
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.6;
  }
}

.activity-box {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.current-box {
  border: 7px solid $color-secondary;
  border-radius: 50px;
  padding: 20px 40px;
  margin: 20px;
  text-align: center;
}

.time-left {
  font-size: 4rem;
}

.controls {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 2rem;
}
